/* Thème Zen Noir pour Gtk */

/* Fond de la fenêtre */
window {
    background-color: #000000; /* Noir */
}

/* Conteneur principal */
box, flowbox {
    background-color: #000000; /* Noir */
    /*padding: 20px;*/ /* Espacement autour du contenu */
}

/* Label */
.label {
    color: #ffffff; /* Blanc */
    font-size: 26px;
    /*margin: 20px 0;*/ /* Espacement vertical */
    background-color: #333333; /* Gris foncé pour le fond des labels */
    padding: 10px 10px;
    border-radius: 10px; /* Coins légèrement arrondis */
 
}

/* Boutons */
.button {
    background-image: none; /* Supprime l'image de fond */
    background-color: #444444; /* Gris foncé */
    color: #ffffff; /* Blanc pour le texte des boutons */
    border-radius: 8px; /* Coins arrondis */
    padding: 15px 30px; /* Espacement interne des boutons */
    border: 1px solid #555555; /* Bordure gris moyen */
    font-size: 24px;
    margin: 10px; /* Espacement externe entre les boutons */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition douce pour hover et active */
}

.button:hover {
    background-color: #555555; /* Gris plus clair au survol */
}

.button:active {
    background-color: #333333; /* Gris plus foncé lorsque le bouton est actif */
}

/* Champs de texte */
entry {
    background-color: #333333; /* Gris foncé */
    color: #ffffff; /* Texte blanc */
    border: 1px solid #555555; /* Bordure gris moyen */
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; /* Espacement externe vertical */
}

/* Barres de défilement */
scrollbar {
    background-color: #444444; /* Gris foncé */
}

scrollbar slider {
    background-color: #666666; /* Gris moyen */
    border-radius: 10px;
}

scrollbar slider:hover {
    background-color: #888888; /* Gris plus clair au survol */
}

/* Couleurs pour les éléments activés */
.button.selected {
    background-color: #666666; /* Gris plus clair pour les éléments sélectionnés */
}

/* theme.css */

/* Style de base pour le message de bienvenue */
#welcome-label {
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

/* Style pour le message de bienvenue sans logo */
#welcome-label.no-logo {
    font-size: 28px;
    font-weight: bold;

}

/* Style pour les titres */
.title {
    font-size: 28px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

.switch {
    background-color: #ff6600; /* Fond orange pour le switch */
    border-radius: 5px;
    padding: 5px;
}

.switch:active {
    background-color: #cc5200; /* Fond orange plus foncé lorsqu'il est cliqué */
}

/* Liste des réseaux Wi-Fi */
listbox, .listbox {
    background-color: #333333; /* Fond gris foncé pour la liste des SSID */
    color: #ffffff; /* Texte blanc */
    border-radius: 5px;
    padding: 10px;
}

listboxrow, .listboxrow {
    background-color: #444444; /* Fond gris moyen pour les éléments de la liste */
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

listboxrow:selected, .listboxrow:selected {
    background-color: #ff6600; /* Fond orange pour l'élément sélectionné */
}

/* Clavier Tactile */
.keyboard {
    background-color: #333333; /* Fond sombre pour le clavier */
    padding: 10px;
    border-radius: 5px;
}

.keyboard button {
    background-color: #555555; /* Fond gris pour les touches */
    color: #FFFFFF; /* Texte blanc */
    border: 1px solid #888888;
    border-radius: 5px;
    margin: 2px;
    font-size: 14px;
}

.keyboard button:hover {
    background-color: #777777; /* Fond plus clair au survol */
}
