/* Zen Noir Theme for Gtk */

/* Window background */
window {
    background-color: #000000; /* Black */
}

/* Main container */
box, flowbox {
    background-color: #000000; /* Black */
}

/* Title style */
.title {
    color: #ffffff; /* White */
    font-size: 26px;
    background-color: #222222; /* Dark gray for label background */
    padding: 20px 20px;
    border-radius: 0px; /* Slightly rounded corners */
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* Label */
.label {
    color: #ffffff; /* White */
    font-size: 26px;
    padding: 10px 10px;
    border-radius: 10px; /* Slightly rounded corners */
}

.description-label {
    font-size: 30px;
    color: rgb(218, 214, 214);
}

.subtitle {
    font-size: 28px; 
    font-weight: bold; 
    color: white; 
    padding: 5px; 
    margin: 5px 0; 
}

.password {
    font-size: 30px; 
    margin: 20px; 
    padding: 15px; 
    border: 2px solid #555555; 
    background-color: #000000; 
    color: #ffffff; 
    border-radius: 5px; 
}

/* Buttons */
.button {
    background-image: none; 
    background-color: #444444; 
    color: #ffffff; 
    padding: 15px 30px; 
    border: 1px solid #555555; 
    font-size: 24px;
    font-weight: bold;
    margin: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.button:hover {
    background-color: #555555; 
}

.button:active {
    background-color: #333333; 
}

/* Welcome message style */
#welcome-label {
    font-size: 34px;
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: bold;
}

#welcome-label.no-logo {
    font-size: 28px;
    color: white;
    font-weight: bold;
}

/* Default button style */
.language-button {
    background-image: none; 
    background-color: #000000; 
    color: #ffffff; 
    border: 1px solid #555555; 
    font-size: 24px;
    margin: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    font-weight: bold;
}

.language-button:hover {
    color: white; 
}

.language-button:active {
    background-color: #005f99; 
    color: white; 
}

/* Selected language button style */
.language-button.selected {
    background-color: #6c757d; 
    border-color: #f5f0f0;     
    color: #ffffff;            
}

/* Default button style */
.button1 {
    background-image: none; 
    background-color: #228f3b; 
    color: #ffffff; 
    padding: 25px 40px;
    font-size: 26px;
    margin: 10px; 
    font-weight: bold;
}

.button1:hover {
    background-color: #005f99; 
    color: white;  
}

.language-button1:active {
    background-color: #005f99; 
    border-color: #f5f0f0; 
}

.button1.selected {
    background-color: #005f99; 
    border-color: #f5f0f0;     
    color: #ffffff;            
}

.button2 {
    background-image: none; 
    background-color: #6c757d; 
    color: #ffffff; 
    padding: 25px 40px;
    font-size: 26px;
    margin: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    font-weight: bold;
}

.button3 {
    background-image: none; 
    background-color: #6c757d; 
    color: #ffffff; 
    padding: 15px 30px;
    font-size: 26px;
    margin: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    font-weight: bold;
}

.button4 {
    background-image: none; 
    background-color: #005f99; 
    color: #ffffff; 
    padding: 15px 25px;
    font-size: 26px;
    margin: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    font-weight: bold;
}

.button5 {
    background-image: none; 
    background-color: #6c757d; 
    color: #ffffff; 
    padding: 15px 30px; 
    border: 1px solid #555555; 
    font-size: 24px;
    font-weight: bold;
    margin: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

/* Scrollbar style */
.scrolled-window {
    border: 4px solid #ccc; 
}

/* Custom keyboard style */
.keyboard-custom {
    font-family: "Arial", "Sans", sans-serif;
}

.keyboard-custom button {
    font-family: "Arial", "Sans", sans-serif;
    background-image: none; 
    background-color: #444444; 
    color: #ffffff; 
    border-radius: 5px; 
    padding: 10px;  
    border: 1px solid #555555; 
    font-size:20px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.keyboard-custom button:hover {
    background-color: #0faa55; 
}

.keyboard-custom button:active {
    background-color: #0faa55; 
}

/* Default printer model button style */
.printermodel-button {
    background-image: none; 
    background-color: #000000; 
    color: #ffffff; 
    border-radius: 0px; 
    border: 1px solid #555555; 
    font-size: 24px;
    margin: 10px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    font-weight: bold;
}

.printermodel-button:active {
    background-color: #0faa55; 
    border-color: #f5f0f0; 
}

.printer-label {
    color: white; 
    font-weight: bold; 
}

/* Wifi switch style */
.wifi-switch {
    background-color: #005f99;  
}

.wifi-switch:checked {
    background-color: #005f99;  
}

.wifi-switch:hover {
    background-color: #0077cc;  
}

/* The switch circle (knob) style */
.wifi-switch > trough > slider {
    background-color: #ffffff;  
    border: 2px solid #005f99;  
}

.test-label {
    font-size: 32px; 
    font-weight: bold;
    color: #FFFFFF; 
}
